.hide-pseudo::before,
.hide-pseudo::before {
    display: none;
}

.home-page .hero-4 {
	background-image:url(../images/generic/blockchain.jpg);
}

.our-science-page .hero-5 .media-column {
    background-image:url(../images/generic/blockchain.jpg);
}
.section-block.feature-2.pb-0.pt-0 {
    padding: 0;
}