<!-- Content -->
<div class="content clearfix">

  <!-- Fullscreen Slider Section -->
  <!-- <app-hero [heroConfig]="_heroConfig"></app-hero> -->
  <!-- Fullscreen Slider Section End -->  
  <!-- Feature Section 2 -->
  <app-row-section [_rowSection]="_ourScience_1"></app-row-section>
  <!-- Feature Section 2 End -->
  
  <!-- Testimonial Section -->
  <div class="section-block pb-10 pt-50">
    <div class="row">
      <div class="column width-8 offset-2 center">
        <h1>Coaching Methodology</h1>
      </div>
    </div>
  </div>
  <div class="section-block pt-10 pb-20">
    <div class="row">
      <div class="column width-10 offset-1">
        <img src="assets/images/OurScience_2.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- Testimonial Section End -->
  <!-- Feature Section 2 -->
  <!-- <div class="section-block feature-2 pb-0 pt-0">
    <div class="row flex collapse full-width">
      <div class="column width-6 push-6">
        <div class="feature-image mb-mobile-50">
          <div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000;"
            data-threshold="0.6">
            <img src="assets/images/generic/feature-1.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="column width-4 pull-6 offset-1">
        <div class="feature-content">
          <div class="feature-content-inner horizon" data-animate-in="preset:slideInUpShort;duration:1000;delay:300ms;"
            data-threshold="0.6">
            <h2 class="mb-30">Monitor Progress</h2>
            <p class="lead">Monitor every aspect of a project and identify bottlenecks before they arise.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Feature Section 2 End -->
  <!-- Feature Section 2 -->
  <!-- <div class="section-block feature-2 right pb-0 pt-0">
    <div class="row flex collapse full-width">
      <div class="column width-6">
        <div class="feature-image">
          <div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInLeftShort;duration:1000;"
            data-threshold="0.6">
            <img src="assets/images/generic/feature-2.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="column width-4 offset-1">
        <div class="feature-content">
          <div class="feature-content-inner left horizon" data-animate-in="preset:slideInUpShort;duration:1000;delay:300ms;"
            data-threshold="0.6">
            <h2 class="mb-30">Comment on Layouts</h2>
            <p class="lead">Allow clients and team members to comment directly on the work and add suggestions.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Feature Section 2 End -->

  <!-- Feature Section 2 -->
  <app-row-section [_rowSection]="_ourScience_2"></app-row-section>
  <!-- Feature Section 2 End -->
  <!-- Feature Section 2 -->
  <app-row-section [_rowSection]="_ourScience_3"></app-row-section>
  <!-- Feature Section 2 End -->
  <!-- Call Out Section -->
  <app-callout-section [callOutConfig]="_callOutConfig"></app-callout-section>
  <!-- Call Out Section End -->
</div>
<!-- Content End -->