<!-- Content -->
<div class="content clearfix">
  <!-- Feature Section 2 -->
  <app-row-section [_rowSection]="_higherEd_1"></app-row-section>
  <!-- Feature Section 2 End -->
  <!-- Feature Section 2 -->
  <app-row-section [_rowSection]="_higherEd_2"></app-row-section>
  <!-- Feature Section 2 End -->
  <!-- Feature Section 2 -->
  <app-row-section [_rowSection]="_higherEd_3"></app-row-section>
  <!-- Feature Section 2 End -->
  <!-- Call Out Section -->
  <app-callout-section [callOutConfig]="_callOutConfig"></app-callout-section>
  <!-- Call Out Section End -->
</div>
<!-- Content End -->