<!-- Footer -->
<footer class="footer footer-fixed">
  <div class="pt-50 pb-50">
    <div class="row flex">
      <div class="column width-3 v-align-middle">
        <div class="widget">
          <div class="footer-logo">
            <a href="/"><img src="assets/images/logo.png" alt="StudyTree Logo" /></a>
          </div>
        </div>
      </div>
      <div class="column width-9 right v-align-middle">
        <p><a class="copyright" routerLink="/tos">Terms of Service</a>&nbsp;|&nbsp;<a class="copyright" routerLink="/privacy">Privacy Policy</a></p>
        <p class="copyright clear-float-on-mobile">&copy; StudyTree. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->