@import "../../../variables.scss";

app-hero {
    .section-block {
        margin-top: $studytree-header-height;
        padding-bottom: 19rem;
    }
    h1,
    h3 {
        color: $studytree-block-lead-contrast;
    }
    span.accent {
        color: $studytree-block-lead-bg;
    }
}