<div class="section-block {{ heroConfig.template }} {{ heroConfig.container?.cssClass }} {{ heroConfig.media?.side }}" [ngStyle]="{'background-image':'url(' + heroConfig.container?.backgroundURL + ')'}">
  <div class="media-column width-{{ heroConfig.media?.gridWidth }} push-{{ heroConfig.media?.pushCol }} pull-{{ heroConfig.media?.pullCol }}" *ngIf="heroConfig.media" [ngStyle]="setBgStyle()"></div>
  <div class="row hide-pseudo {{ heroConfig.content.row.cssClass }}" [class.fullWidth]="heroConfig.content.row.fullWidth">
    <div class="column width-{{ column.gridWidth }} offset-{{ column.gridOffset }} push-{{ column.pushCol }} pull-{{ column.pullCol }} {{ column.cssClass }}" *ngFor=" let column of heroConfig.content.columns">
      <div class="hero-content">
        <div class="hero-content-inner {{ column.content.alignment }} {{ column.content.cssClass }}">
          <h1 [ngClass]="column.content.header.cssClass" *ngIf="column.content.header">{{ column.content.header.value }}</h1>
          <h3 [ngClass]="column.content.secondary.cssClass" *ngIf="column.content.secondary">{{ column.content.secondary.value }}</h3>
          <p [ngClass]="column.content.paragragh.cssClass" *ngIf="column.content.paragragh">{{ column.content.paragragh.value }}</p>
        </div>
      </div>
    </div>
  </div>
</div>