<!-- Content -->
<div class="content clearfix">

  <!-- Fullscreen Slider Section -->
  <app-hero [heroConfig]="_heroConfig"></app-hero>
  <!-- Fullscreen Slider Section End -->
  <!-- Feature Section 2 -->
  <div class="section-block feature-2 pb-50 pt-50">
    <div class="row flex content-grid">
      <div class="column width-6 push-6">
        <div class="mb-mobile-50">
          <div class="center-on-mobile">
            <img src="assets/images/generic/feature-1.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="column width-6 pull-6">
        <div class="feature-content">
          <div class="feature-content-inner">
            <h2 class="mb-30">Monitor Progress</h2>
            <p class="lead">Monitor every aspect of a project and identify bottlenecks before they arise.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature Section 2 End -->
  <!-- Feature Section 2 -->
  <div class="section-block feature-2 pb-50 pt-50">
    <div class="row flex content-grid">
      <div class="column width-6">
        <div class="mb-mobile-50">
          <div class="center-on-mobile">
            <img src="assets/images/generic/feature-1.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="column width-6">
        <div class="feature-content">
          <div class="feature-content-inner">
            <h2 class="mb-30">Monitor Progress</h2>
            <p class="lead">Monitor every aspect of a project and identify bottlenecks before they arise.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature Section 2 End -->

  <!-- Call Out Section -->
  <div class="section-block call-to-action-2 pt-50 pb-50 bkg-grey">
    <p class="horizon mb-0" data-animate-in="transX:300;">
      <a href="#" class="button rounded border-white color-white color-hover-white"><strong>Request Demo</strong></a>
    </p>
  </div>
  <!-- Call Out Section End -->
</div>
<!-- Content End -->