<nav ngClass="{{_navClass}}" *ngIf="_navPrimary">
  <ul>
    <li *ngFor="let navItem of navArr; index as i;" [routerLinkActive]="'current'" [class.contains-sub-menu]="navItem.childNav">
      <ng-container *ngIf="navItem.external?.url">
        <a [href]="navItem.external.url" [target]="navItem.external.target" >{{ navItem.navLabel }}</a>
      </ng-container>
      <ng-container *ngIf="!navItem.external?.url">
        <a [routerLink]="navItem.childNav ? navItem.childNav[0].navRoute : navItem.navRoute" >{{ navItem.navLabel }}</a>
        <ul class="sub-menu" *ngIf="navItem.childNav">
          <li *ngFor="let childNavItem of navArr[i].childNav" [routerLinkActive]="'current'">
            <a [routerLink]="childNavItem.navRoute">{{ childNavItem.navLabel }}</a>
          </li>
        </ul>    
      </ng-container>
    </li>
  </ul>
</nav>

<nav ngClass="{{_navClass}}" *ngIf="!_navPrimary">
  <ul>
    <li class="v-align-middle">
      <a href="login.html" class="button small rounded no-page-fade no-margin-bottom">Log In</a>
    </li>
    <li class="aux-navigation hide">
      <!-- Aux Navigation -->
      <a href="#" class="navigation-show overlay-nav-show nav-icon">
        <span class="icon-menu"></span>
      </a>
    </li>
  </ul>
</nav>