<!-- Overlay Navigation Menu -->
<div class="overlay-navigation-wrapper enter-right" data-no-scrollbar data-animation="scale-in">
  <div class="overlay-navigation-scroll-pane">
    <div class="overlay-navigation-inner">
      <div class="v-align-middle">
        <div class="overlay-navigation-header row collapse full-width">
          <div class="column width-12">
            <div class="navigation-hide overlay-nav-hide">
              <a href="#">
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
              </a>
            </div>
          </div>
        </div>
        <div class="row collapse full-width">
          <div class="column width-12">
            <app-navigation [_navClass]="'overlay-navigation nav-block left'" [_navPrimary]="true"></app-navigation>
          </div>
        </div>
        <div class="overlay-navigation-footer row full-width center">
          <div class="column width-12 no-padding">
            <p class="copyright">&copy; 2018 StudyTree.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Overlay Navigation Menu End -->