@import './variables';

/* You can add global styles to this file, and also import other style files */
.hide-pseudo {
    &::before,
    &::after {
        display: none;
    }
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
input,
button,
.button,
select,
textarea,
.post-title,
.project-title,
.product-title,
.overlay-info > span > span,
.project-description,
.font-alt-1,
.header .navigation > ul > li > a,
.header .navigation > ul > li > div > a, /* #MOD */
.side-navigation > ul > li > a,
.overlay-navigation > ul > li > a,
.grid-filter-menu a,
.dropdown a,
[class*="stats-"] .counter,
body {
    font-family: 'Roboto', sans-serif;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
input,
p,
body {
    color: $studytree-font-color
}

.navigation .sub-menu:not(.custom-content) li:hover > a,
.navigation .mega-sub-menu:not(.custom-content) ul li:hover > a,
.navigation .dropdown-list:not(.custom-content) li:hover a,
.navigation .sub-menu:not(.custom-content) li.current > a,
.navigation .mega-sub-menu ul li.current > a{
	border-left-color: $studytree-block-lead-bg;
}

.header-background .v-align-middle > .button:not(.nav-icon):hover,
.header-background .dropdown > .button:not(.nav-icon):hover{
	background-color: $studytree-block-lead-bg;
}
