<!-- Content -->
<div class="content clearfix">

  <!-- Fullscreen Slider Section -->
  <div class="section-block hero-4 right">
    <div class="row hide-pseudo">
      <div class="column width-6 offset-6">
        <div class="hero-content split-hero-content">
          <div class="hero-content-inner">
            <h1 class="weight-semi-bold">Improve Efficiency</h1>
            <h3 class="weight-semi-bold">From Student to Professionals</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fullscreen Slider Section End -->

  <!-- Testimonial Section -->
  <div class="section-block pb-0">
    <div class="row">
      <div class="column width-8 offset-2 center">
        <h2>How StudyTree Works</h2>
      </div>
    </div>
  </div>
  <div class="section-block pt-50 pb-0">
    <div class="row">
      <div class="column width-10 offset-1">
        <div class="row content-grid-2">
          <div class="column width-4">
            <img src="assets/images/iphone_1.png" alt="">
          </div>
          <div class="column width-4">
            <img src="assets/images/iphone_1.png" alt="">
          </div>
          <div class="column width-4">
            <img src="assets/images/iphone_1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-block pb-0">
    <div class="row">
      <div class="column center">
        <a href="#" class="button medium rounded border-grey color-grey color-hover-lightgrey mb-0 mb-mobile-20 inline"><strong>Exolore
            Our Platform</strong></a>
      </div>
    </div>
  </div>
  <!-- Testimonial Section End -->

  <div class="section-block pb-0">
    <div class="row">
      <div class="column width-8 offset-2 center">
        <h2>Hear What Our Customers Say</h2>
      </div>
    </div>
  </div>
  <div class="section-block pt-50">
    <div class="row">
      <div class="column width-10 offset-1">
        <div class="row content-grid-2">
          <div class="column width-6">
            <blockquote class="avatar medium left">
              <span class="mb-20">
                <img src="assets/images/team/team-avatar-1.jpg" alt="">
              </span>
              <p>"Incredibly simple! We've been using Faulkner Prototyp'd for the past year and we've managed to
                increase our efficiency by 45%. We've reduced bottlenecks in the development process and improved
                project delivery."
                <cite>John K. Riley - SpeedApps.</cite>
              </p>
            </blockquote>
          </div>
          <div class="column width-6">
            <blockquote class="avatar medium left">
              <span class="mb-20">
                <img src="assets/images/team/team-avatar-4.jpg" alt="">
              </span>
              <p>"Amazing, amazing and amazing. Our clients are thrilled when we give them a Faulkner Prototyp'd
                presentation, because it's simple and it simply works. Highly recommend this platform. "
                <cite>Henri Gratsson - ProVision.</cite>
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-block call-to-action-2 pt-50 pb-50 bkg-grey">
    <p class="horizon mb-0" data-animate-in="transX:300;">
      <a href="#" class="button rounded border-white color-white color-hover-white"><strong>Request Demo</strong></a>
    </p>
  </div>
  <!-- Call Out Section End -->
</div>
<!-- Content End -->