<!-- Content -->
<div class="content clearfix">

  <!-- Fullscreen Slider Section -->
  <app-hero [heroConfig]="_heroConfig"></app-hero>
  <!-- Fullscreen Slider Section End -->

  <!-- Testimonial Section -->
  <div class="section-block pb-0 pt-60">
    <div class="row">
      <div class="column width-8 offset-2 center">
        <h1 class="mb-0">How StudyTree Works</h1>
      </div>
    </div>
  </div>
  <div class="section-block pt-30 pb-0">
    <div class="row">
      <div class="column width-10 offset-1">
        <div class="row flex content-grid-2" style="flex-wrap:nowrap">
          <div class="column width-4">
            <img src="assets/images/studytree_3.png" alt="">
          </div>
          <div class="column width-4">
            <img src="assets/images/studytree_2.png" alt="">
          </div>
          <div class="column width-4">
            <img src="assets/images/studytree_1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-block pb-0 pt-30">
    <div class="row">
      <div class="column center">
        <a href="https://studytree.typeform.com/to/xkofdE" target="_blank" class="button medium rounded border-grey color-grey color-hover-lightgrey mb-0 mb-mobile-20 inline"><strong>Exolore
            Our Platform</strong></a>
      </div>
    </div>
  </div>
  <!-- Testimonial Section End -->

  <div class="section-block pt-60 pb-30">
    <div class="row">
      <div class="column width-8 offset-2 center">
        <h1>Hear What Our Customers Say</h1>
      </div>
    </div>
  </div>
  <div class="section-block pt-0 pb-60">
    <div class="row">
      <div class="column width-10 offset-1">
        <div class="row content-grid-2">
          <div class="column width-6">
            <blockquote class="avatar medium left">
              <!-- <span class="mb-20">
                <img src="assets/images/c_selena.png" alt="">
              </span> -->
              <p>"At Lafayette, we are looking to engage low-income unrepresented populations that generally did not engage with academic support resources. We use StudyTree as a means to connect these students with resources when they are needed most; when they are actually engaging with the material and experiencing difficulties. With StudyTree there is no barrier or extra steps between the students and the resources and that can help keep them on track."
                <cite>Christopher Selena<br/>Associate Dean of Advising & Director of the Academic Tutoring Center<br/>Lafayett College</cite>
              </p>
            </blockquote>
          </div>
          <div class="column width-6">
            <blockquote class="avatar medium left">
              <!-- <span class="mb-20">
                <img src="assets/images/team/team-avatar-4.jpg" alt="">
              </span> -->
              <p>"Studytree is instrumental in engaging students with tutoring and SI groups. "
                <cite>Ira Fabri<br/>Assistant Director of Tutoring<br/>University of Maryland - Baltimore County</cite>
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Call Out Section -->
  <app-callout-section [callOutConfig]="_callOutConfig"></app-callout-section>
  <!-- Call Out Section End -->
</div>
<!-- Content End -->