<!-- Content -->
<div class="content clearfix">

  <!-- Fullscreen Slider Section -->
  <app-hero [heroConfig]="_heroConfig"></app-hero>
  <!-- Fullscreen Slider Section End -->

  <!-- Testimonial Section -->
  <div class="section-block pb-0 pt-60">
    <div class="row">
      <div class="column width-8 offset-2 center">
        <h1 class="mb-0">How StudyTree Works</h1>
      </div>
    </div>
  </div>
  <div class="section-block pt-30 pb-0">
    <div class="row">
      <div class="column width-10 offset-1">
        <div class="row flex content-grid-2" style="flex-wrap:nowrap">
          <div class="horizon column width-4" data-animate-in="preset:slideInLeftShort;duration:500ms;">
            <img src="assets/images/studytree_3.png" alt="">
          </div>
          <div class="horizon column width-4" data-animate-in="preset:fadeIn;duration:500ms;">
            <img src="assets/images/studytree_2.png" alt="">
          </div>
          <div class="horizon column width-4" data-animate-in="preset:slideInRightShort;duration:500ms;">
            <img src="assets/images/studytree_1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-block pb-0 pt-30">
    <div class="row">
      <div class="column center">
        <a href="https://studytree.typeform.com/to/xkofdE" target="_blank" class="button medium rounded border-grey color-grey color-hover-lightgrey mb-0 mb-mobile-20 inline"><strong>Exolore
            Our Platform</strong></a>
      </div>
    </div>
  </div>
  <!-- Video Section Start -->
  <div class="section-block pt-60 pb-30">
    <div class="row">
      <div class="column width-8 offset-2 center">
        <h1>Everyone Deserves Their Own Coach</h1>
      </div>
    </div>
  </div>
  <div class="section-block pt-0 pb-60">
    <div class="row">
      <div class="column width-10 offset-1">
        <div class="row content-grid-2">
          <div class="horizon column width-12" data-animate-in="preset:slideInLeftShort;duration:500ms;">
              <!-- <iframe height="500" src="https://www.youtube.com/embed/6z8LvUGhP0A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
              <style>.embedtool {position: relative;height: 0;padding-top: 56%;overflow: hidden;max-width: 100%;} .embedtool iframe, .embedtool object, .embedtool embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class="embedtool"><iframe src="https://www.youtube.com/embed/6z8LvUGhP0A" frameborder="0" allowfullscreen></iframe></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Video Section End -->
  <!-- Testimonial Section End -->

  <div class="section-block pt-60 pb-30">
    <div class="row">
      <div class="column width-8 offset-2 center">
        <h1>Hear What Our Customers Say</h1>
      </div>
    </div>
  </div>
  <div class="section-block pt-0 pb-60">
    <div class="row">
      <div class="column width-10 offset-1">
        <div class="row content-grid-2">
          <div class="horizon column width-6" data-animate-in="preset:slideInLeftShort;duration:500ms;">
            <blockquote class="avatar medium left">
              <p>"At Lafayette, we are looking to engage low-income unrepresented populations that generally did not engage with academic support resources. We use StudyTree as a means to connect these students with resources when they are needed most; when they are actually engaging with the material and experiencing difficulties. With StudyTree there is no barrier or extra steps between the students and the resources and that can help keep them on track."</p>
              <div class="headshot-meta pt-10">
                <span>
                  <img class="headshot" src="assets/images/c_selena.png" alt="">
                </span>
                <cite>Christopher Selena<br/>Associate Dean of Advising & Director of the Academic Tutoring Center<br/>Lafayette College</cite>
              </div>
            </blockquote>
          </div>
          <div class="horizon column width-6" data-animate-in="preset:slideInRightShort;duration:500ms;">
            <blockquote class="avatar medium left">
              <p>"Studytree is great at allowing me to find and pick a tutor. Studytree is also good at allowing me to add or cancel sessions when needed."
                 <br/>"The strengths of StudyTree are that I can communicate with my coach. Also, I can easily schedule an appointment. Another strength is the calendar quickly shows when my next appointment is."
                 <br/>"Studytree is easy and accessible to students who are busy and cannot physically meet someone to schedule an appt."
              </p>
              <div class="headshot-meta pt-10">
                <span>
                    <img class="headshot" src="assets/images/umbc_student.jpg" alt="">
                </span>
                  <cite>Various Students<br/>University of Maryland - Baltimore County</cite>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Call Out Section -->
  <app-callout-section [callOutConfig]="_callOutConfig"></app-callout-section>
  <!-- Call Out Section End -->
</div>
<!-- Content End -->