.header {
    position: fixed !important;
    .header-inner {
        background-color: rgba(255,255,255,1);
        box-shadow: rgba(29,29,31,0.25) 0 10px 30px;
    }
    .logo a:last-child {
        display: block !important
    }
}
