<!-- Header -->
<header class="header header-fixed header-fixed-on-mobile header-background" data-bkg-threshold="-1">
  <div class="header-inner">
    <div class="row nav-bar">
      <div class="column width-12 nav-bar-inner">
        <div class="logo">
          <div class="logo-inner">
            <a href="index.html"><img src="assets/images/logo.png" alt="StudyTree Logo" /></a>
          </div>
        </div>
        <app-navigation [_navClass]="'navigation nav-block secondary-navigation nav-right'" [_navPrimary]="false"></app-navigation>
        <app-navigation [_navClass]="'navigation nav-block primary-navigation nav-right'" [_navPrimary]="true"></app-navigation>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->